//variables
$primary:#00B4F9;
$secondary:#FAB040;
$betterGrey:#464649;
$notSoDark:#1E1E1E;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../fontawesome/scss/fontawesome.scss';
@import '../fontawesome/scss/solid.scss';
@import '../fontawesome/scss/brands.scss';

html,
body {
  background-image: url('../img/radiology-background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  color: white;
  font-family: 'Numans', sans-serif;
  overflow-x: hidden !important;
}

*{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar{
    display: none; /* Chrome */
  }
}

.container-fluid {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba($color: black, $alpha: 0.7) !important;
}

.card-header {
  h3{
    color: white;
  }
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -30px;
  a{
    font-size: 45px;
    margin-left: 10px;
    color: $secondary;
    &:hover{
      color: white;
      cursor: pointer;
    }
  }
}

.input-group-prepend, .input-group-append {
  margin: 0;
  max-width: 38px;
  span, a{
    width: 100%;
    background-color: $secondary;
    color: black;
    border: 0 !important;
  }
}

input {
  &:focus{
    outline: 0 0 0 0 !important;
    border-color: $secondary !important;
    box-shadow: 0 0 0 0 !important;
  }
}

.remember {
  color: white;
  input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
  }
}

.login_btn {
  width: 100px;
  &:hover{
    color: white;
  }
}

.links {
  color: white;
  a{
    margin-left: 4px;
  }
}

.custom-link{
  color: $secondary;
  &:hover{
    color: rgba($color: $secondary, $alpha: 0.7);
  }
}

.bg-custom{
  background: transparent;
  *{
    color: white;
    &:hover{
      color: rgba($color: white, $alpha: 0.8)
    }
  }
}

.nav-text{
  font-size: 18px !important;
}

.nav-link{
  padding: 0 0.5rem 0 0.5rem !important;
  i{   
    font-size: 30px;
  }
}

.navbar-toggler-icon{
  color: white !important;
}

.dropdown-menu{
  background: black;
  *:hover{
    background: rgba($color: $notSoDark, $alpha: 0.8);
  }
  span{
    cursor: pointer;
  }
}

.user-table{
  width: 100%;
  tbody{
    tr{
      border-top: 1px solid white;
    }
  }
}

.action-link{
  margin-right: 5px;
  cursor: pointer;
  i{
    color: $primary;
  }
}

.sidebar{
  height: 100%;
  width: 15%;
  position: relative;
  float: left;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  .sidebar-item{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.7);
    &.delete{
      border-bottom: 1px solid rgba($color: red, $alpha: 0.7);
      a{
        color: red !important;
      }
    }
    a{
      color: white;
      text-transform: capitalize;
      &:hover{
        text-decoration: none;
        color: rgba($color: white, $alpha: 0.8);
      }
    }
  }
}

.sidebar-active{
  background-color: rgba($color: $notSoDark, $alpha: 0.95);
  a{
    color: rgba($color: white, $alpha: 0.8) !important;
  }
}

.user-info{
  background-color: rgba($color: $notSoDark, $alpha: 0.95);
  float: left;
  width: 85%;
  padding: 1rem;
  margin-top: 1rem;
}

.form-control{
  border: 1px solid transparent;
  color: white;
  background-color: rgba($color: $betterGrey, $alpha: 1);
  &:disabled{
    color: rgba($color: white, $alpha: 0.6);
    background-color: rgba($color: white, $alpha: 0.3);
  }
  &:focus{
    color: white;
    background-color: rgba($color: black, $alpha: 1.0);
    box-shadow: none !important;
    border: 1px solid $secondary;
    transition: all 0.2s;
  }
}

span.user-name{
  font-size: 18px;
  text-transform: capitalize;
  &:hover{
    color: white;
  }
}

.btn-small{
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}

.action-link-disabled{
  margin-right: 5px;
  cursor: not-allowed;
  i{
    color: $betterGrey;
  }
}

hr{
  border-top: 1px solid rgba($color: white, $alpha: 0.7) !important;
}

.file-preview{
  width: 256px;
  border: 1px dashed rgba($color: $primary, $alpha: 0.8);
  cursor: pointer;
  img{
    margin: 1rem;
    width: 96px;
  }
  .download-body{
    width: 100%;
    height: 100%;
    background-color: rgba($color: $betterGrey, $alpha: 0.7);
    padding: 0.3rem;
    text-align: center;
  }
}

form input[disabled]{
  opacity: 0.4;
  border-color: $betterGrey !important;
	cursor: not-allowed;
}

.form-error{
  border: 1px solid red !important;
}

div.form_error span{
  font-size: 12px;
	padding: 3px;
	color:red;
	margin-left: 5px;
}