<div class="d-flex w-100 pl-3">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="user-table text-center row-border hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Paciente</th>
                <th>Fecha de creacion</th>
                <th>Archivo</th>
                <th>Revisado por</th>
                <th>Fecha de la revision</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of tests;index as i">
                <td>{{i+1}}</td>
                <td>{{$any(test.clientID)?.email}}</td>
                <td>{{$any(test.testTypeID)?.type}}</td>
                <td>{{test.patient.fullName|titlecase}}</td>
                <td>{{test.createdAt|date:'dd/MM/yyyy'}}</td>
                <td>
                    <a class="action-link" target="blank" href="{{url}}download/{{test._id}}-{{test.testFile}}">
                        <i class="fas fa-file-download"></i>
                    </a>
                </td>
                <td *ngIf="test.reviewedBy">
                    Dr. {{$any(test.reviewedBy)?.userName}}
                </td>
                <td *ngIf="!test.reviewedBy">
                    <span class="btn-small btn-danger">
                        En espera
                    </span>
                </td>
                <td *ngIf="test.reviewDate">{{test.reviewDate|date:'dd/MM/yyyy'}}</td>
                <td *ngIf="!test.reviewDate">
                    <span class="btn-small btn-danger">
                        En espera
                    </span>
                </td>
                <td [style.color]="test.state?'#5cb85c':'#d9534f'">
                    {{test.state|translateUserState}}
                </td>
                <td>
                    <a class="action-link" [routerLink]="['/examen', test._id]">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="action-link" [routerLink]="['/actualizar-examen', test._id]">
                        <i class="fas fa-pen"></i>
                    </a>
                    <span class="action-link" (click)="deleteTest(test)">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>