<div class="d-flex w-100 p-3">
    <table class="user-table text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Correo</th>
                <th>Tipo de Usuario</th>
                <th>Nombre de Usuario</th>
                <th>DNI</th>
                <th>Fecha de creacion</th>
                <th>Cuenta activa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;index as i">
                <td>{{i+1}}</td>
                <td>{{user.email}}</td>
                <td>{{$any(user.userTypeID).type|titlecase}}</td>
                <td>{{user.userName|titlecase}}</td>
                <td>{{user.dni}}</td>
                <td>{{user.createdAt|date}}</td>
                <td [style.color]="user.state?'#5cb85c':'#d9534f'">
                    {{user.state|translateUserState}}
                </td>
                <td>
                    <a class="action-link" [routerLink]="['/usuario', user._id]">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="action-link" [routerLink]="['/actualizar-usuario', user._id]">
                        <i class="fas fa-pen"></i>
                    </a>
                    <span class="action-link" (click)="deleteUser(user)">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>