<nav class="navbar bg-custom navbar-expand-md" *ngIf="route!='/inicio-sesion'&&route!='/registro'">
  <a class="navbar-brand" [routerLink]="['/']">CEDIMAGEN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link nav-text dropdown-toggle" *ngIf="user.userTypeID==environment.admin" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userDropdown">
          <a class="dropdown-item" [routerLink]="['/nuevo-usuario']">
            Crear usuario
          </a>
          <a class="dropdown-item" [routerLink]="['/usuarios']">
            Ver usuarios
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-text dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Examenes
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userDropdown">
          <a class="dropdown-item" [routerLink]="['/nuevo-examen']">
            Nuevo examen
          </a>
          <a class="dropdown-item" [routerLink]="['/examenes']" *ngIf="user.userTypeID==environment.admin">
            (Admin) Examenes
          </a>
          <a class="dropdown-item" [routerLink]="['/doctor-examenes']" *ngIf="user.userTypeID==environment.doctor">
            (Doctor) Revisar examenes
          </a>
          <a class="dropdown-item" [routerLink]="['/mis-examenes']">
            Mis examenes
          </a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="user-name">
            {{user.userName}}
          </span>
          <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" [routerLink]="['/perfil']">
            Mi perfil
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item" (click)="logout()">
            Desconectar
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>