<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Inicio de sesión</h3>
            <div class="d-flex justify-content-end social_icon">
                <a href="https://www.facebook.com/Cedimagen-313556369325053" target="blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(email.value, password.value)">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" class="form-control" id="email" name="correo" #email placeholder="correo@gmail.com" [(ngModel)]="rememberEmail" (keyup)="setRememberEmail()" required>                        
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" id="password" name="password" #password placeholder="Contraseña" required>
                </div>
                <div class="row align-items-center remember">
                    <input type="checkbox" (change)="setRemember()" name="rememberMe" [(ngModel)]="rememberMe">Recuerdame
                </div>
                <div class="form-group">
                    <input type="submit"class="btn btn-outline-secondary float-right login_btn" value="Login" [disabled]="!loginForm.valid">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                No tienes una cuenta?<a class="custom-link" [routerLink]="['/registro']">Registrarse</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="custom-link" href="#">Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
</div>