<div class="d-flex h-100 w-100 align-items-center justify-content-center position-absolute ">
    <div class="card">
        <div class="card-header">
            <h3>Resetear contraseña</h3>
            <div class="d-flex justify-content-end social_icon">
                <a href="https://www.facebook.com/Cedimagen-313556369325053" target="blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(email.value)">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" class="form-control" id="email" name="correo" #email="ngModel" placeholder="correo@gmail.com" [(ngModel)]="userEmail"
                     autocomplete="off" [ngClass]="email.invalid&&(email.touched||email.dirty)?'form-error':''" required>
                </div>
                <div class="form-group">
                    <input type="submit"class="btn btn-outline-secondary float-right login_btn" value="Resetear" [disabled]="!resetPasswordForm.valid">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <a class="custom-link" href="/inicio-sesion">Volver a inicio de sesion</a>
            </div>
        </div>
    </div>
</div>