<form (ngSubmit)="onSubmit()">
    <div class="d-flex w-100">
        <div class="d-flex flex-column w-50">
            <div class="form-group">
                <label for="password">Contraseña Actual</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="contraseña" required>
            </div>
            <div class="form-group">
                <label for="newPassword1">Nueva contraseña</label>
                <input type="password" class="form-control" name="newPassword1" [(ngModel)]="newPassword1" placeholder="nueva contraseña" required>
            </div>
            <div class="form-group">
                <label for="newPassword2">Repite la nueva contraseña</label>
                <input type="password" class="form-control" name="newPassword2" [(ngModel)]="newPassword2" placeholder="nueva contraseña" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-secondary float-right" value="Guardar">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center w-50">
            <img src="../../../assets/img/logo.png" alt="logo CEDIMAGEN">
        </div>
    </div>
</form>