<div class="d-flex align-items-center flex-column w-100 pl-3">
    <div class="d-flex w-75 form-group flex-column">
        <label>Tipo</label>
        <input type="text" class="form-control" [value]="$any(test.testTypeID).type" disabled>
    </div>
    <h4>Paciente</h4>
    <div class="d-flex w-75 form-group flex-row">
        <div class="d-flex w-75 form-group flex-column">
            <label>Nombre Completo</label>
            <input type="text" class="form-control" [value]="test.patient.fullName" disabled>
        </div>
        <div class="d-flex w-25 form-group flex-column">
            <label>Edad</label>
            <input type="text" class="form-control" [value]="test.patient.age" disabled>
        </div>
    </div>
    <div class="d-flex w-75 form-group flex-row">
        <div class="d-flex w-75 form-group flex-column">
            <label>Fecha del Examen</label>
            <input type="text" class="form-control" [value]="test.patient.testDate|date" disabled>
        </div>
        <div class="d-flex w-75 form-group flex-column">
            <label>Fecha del Informe</label>
            <input type="text" class="form-control" [value]="test.patient.informDate|date" disabled>
        </div>
    </div>
    <div class="d-flex w-75 form-group flex-column">
        <label>Observaciones</label>
        <textarea class="form-control" disabled>{{test.patient.remarks}}</textarea>
    </div>
    <div class="d-flex w-75 form-group flex-column">
        <div class="d-flex w-100">                
            <div class="d-flex w-50 flex-column form-group">
                <label for="testDate">Revisado por</label>
                <input type="text" class="form-control" name="testDate" [value]="test.reviewedBy ? $any(test.reviewedBy).userName : 'EN ESPERA'" disabled>
            </div>
            <div class="d-flex w-50 flex-column form-group">
                <label for="reviewDate">Fecha de la revision</label>
                <input type="text" class="form-control" name="reviewDate" [value]="test.reviewDate ? (test.reviewDate|date) : 'EN ESPERA'" disabled>
            </div>
        </div>
    </div>
    <div class="d-flex w-75 form-group flex-column">
        <label>Archivo</label>
        <div class="input-group">
            <input type="text" class="form-control" [value]="test.testFile" disabled>
            <div class="input-group-append">
                <a class="input-group-text" target="blank" href="{{url}}download/{{test._id}}-{{test.testFile}}">
                    <i class="fas fa-file-download"></i>
                </a>
            </div>
        </div>
    </div>
    <hr [style.width]="'75%'">
    <div class="d-flex w-75 form-group flex-column">
        <h3>Respuesta</h3>
        <span *ngIf="!test.responseFile">
            <strong>En espera</strong>
        </span>
        <div class="d-flex flex-column align-items-center file-preview" *ngIf="test.responseFile" (click)="redirectDownload()">
            <img *ngIf="test.responseFile.substring(test.responseFile.lastIndexOf('.'), test.responseFile.length).includes('pdf')"
            class="" src="../../../assets/icon/pdf.png" alt="preview-pdf">
            <img *ngIf="test.responseFile.substring(test.responseFile.lastIndexOf('.'), test.responseFile.length).includes('doc')"
            src="../../../assets/icon/word.png" alt="preview-word">
            <img *ngIf="!test.responseFile.substring(test.responseFile.lastIndexOf('.'), test.responseFile.length).includes('pdf')&&!test.responseFile.substring(test.responseFile.lastIndexOf('.'), test.responseFile.length).includes('doc')"
            src="../../../assets/icon/download.png" alt="preview-other">
            <div class="flex flex-row download-body">
                <span>
                    {{test.responseFile}}
                    <i class="fas fa-download"></i>
                </span>
            </div>
        </div>
    </div>
</div>